# Ігноруємо віртуальне оточення (воно важить багато і у кожного своє)
venv/
env/
.env

# Ігноруємо скомпільовані файли Python
__pycache__/
*.pyc

# Ігноруємо локальну базу даних (щоб не було конфліктів)
db.sqlite3

# Ігноруємо налаштування редактора (VS Code, PyCharm)
.vscode/
.idea/
.DS_Store